In [2]:
# This is part of the notebook cell you execute
file_path = 'sales_data_sample.csv'

# Import pandas explicitly
import pandas as pd

# Load data and skip the index column
df = pd.read_csv(file_path, encoding='utf-8')
print(df.head())

# Assuming pygwalker needs to be imported as well
import pygwalker as pyg
pyg.walk(df)

   ZORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0         10107               30      95.70                2  2871.00
1         10121               34      81.35                5  2765.90
2         10134               41      94.74                2  3884.34
3         10145               45      83.26                6  3746.70
4         10159               49     100.00               14  5205.27

     ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003   Shipped       1         2     2003  ...
1    5/7/2003   Shipped       2         5     2003  ...
2     7/1/2003  Shipped       3         7     2003  ...
3   8/25/2003   Shipped       3         8     2003  ...
4  10/10/2003   Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

Box(children=(HTML(value='<div id="ifr-pyg-00061ba0abc61566x0jcgsoZiKATM7Gl" style="height: auto">\n    <head>â€¦